{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h2 class="display-6 fw-bolder">Portfolio</h2>
        </div>
    </div>
</header>

<!-- Section-->
<section class="container py-5 d-flex">
  <div class="row card p-3 mx-auto">
    <div class="col-md-10 mx-auto">
    {% if wallet_products %}
      {% for product in wallet_products %}
        <h5>Stock Price: ${{ product.price }}</h5>

        <div class="row my-3">
          <div class="col-md-6">
            <h5>Quantity: </h5>
          </div>
          <div class="col-md-6">
            <select class="form-select" id="select{{product.id}}">
              {% for key, value in quantities.items %}
              {% if key == product.id|slugify %}
              <option selected>{{ value }}</option>
              {% endif %}
              {% endfor %}
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-12 text-end">
            <button type="button" data-index="{{product.id}}" class="btn btn-outline-dark update-wallet">Update</button>
          </div>
      </div>
      {% endfor %}
      
      <div class="row my-3">
        {% if totals == "Insufficient credit" %}
          <p class="alert alert-danger"><strong> {{ totals }}</strong></p>
        {% else %}
          <p class="alert alert-warning">Total:<strong> ${{ totals }}</strong></p>
        {% endif %}

        {% for customer in customer %}
        <p>Credit Available:<strong> ${{ customer.credit }}</strong></p>
        {% endfor %}
      </div>
      {% for product in wallet_products %}
      <div class="col-md-12 text-end">
        <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <div class="my-5 py-5 text-center">
      <p>No stocks availables.</p>
      <a href="{% url 'home' %}"><button class="btn btn-outline-dark">Go Back</button></a>
    {% endif %}
    <br /><br />
    </div>
</section>

<script>
// update wallet
$(document).on('click', '.update-wallet', function(e){
  e.preventDefault();
  var productid = $(this).data('index');
  $.ajax({
    type: 'POST',
    url: '{% url "wallet_update" %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
    location.reload();
    },
                
    error: function(xhr, errmsg, err){
                
    }
  });
})

// delete wallet
$(document).on('click', '.delete-product', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '{% url "wallet_delete" %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
    location.reload();
    },
                
    error: function(xhr, errmsg, err){
                
    }
  });
})
</script>

{% endblock %}