{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder">Login</h1>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-2">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <form method="POST" action="{% url 'login' %}" class="my-5">
                {% csrf_token %}
                <div class="mb-3">
                  <input type="text" placeholder="Enter your username" class="form-control" name="username">
                  <p style="color: #4b4b4b; font-size: .8rem;">Case sensitive.</p>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Enter your password" name="password">
                </div>
                <button type="submit" class="btn btn-dark">Log in</button>
            </form>

{% endblock %}